.year {
  margin-top: 2.2rem;         
}

.year h2 {
  margin-bottom: 0.6rem;
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Roboto, Verdana, sans-serif;
  color: #222;
}

.year h3 {
  margin: 1.2rem 0 0.6rem;      
  font-size: 1.1rem;
  font-weight: 500;
  font-family: Roboto, Verdana, sans-serif;
  color: #444;
}

.year ul {
  list-style-type: disc;
  margin: 0 0 0.6rem 1.4rem;  
  padding: 0;
  font-family: Roboto, Verdana, sans-serif;
  font-size: 0.95rem;
  line-height: 1.1;         
  color: #333;
}

.year li {
  margin: 0.08rem 0;         
}