
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.layout {
  display: flex;   
  padding: 2vw 5vw;     
  min-height: 100vh;     
}

.main-content {
  flex: 1;           
  padding: 2rem 5vw;  
  overflow-y: auto;   
}


.page-title {
  letter-spacing: 1px;
  display: inline-block;
  padding-bottom: 0.5rem;
}

.page-title::after {
  content: "";
  display: block;
  width: 75px;
  height: 4px;
  background-color: #222;
  margin: 0.5rem auto 0;
  border-radius: 2px;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: left;
  animation: underlineFadeIn 0.6s ease forwards;
}

@keyframes underlineFadeIn {
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}
